/* General CSS */
body {
    background: url(../images/accountbg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}

body.body-login {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
}

select {
    cursor: pointer;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

.table > tbody > tr:last-of-type > td {
    padding-bottom: 0;
}

a:active,
a:link,
a:visited,
a:hover {
    text-decoration: none;
}

.site-content.container {
    background: #fff;
}

.modal-danger {
    background: #d9534f;
}

.text-white {
    color: #fff;
}

.hidden {
    display: none;
}

.btn.focus,
.btn:focus,
.btn-danger.focus,
.btn-danger:focus {
    outline: 0 !important;
}

.site-content {
    margin-top: 65px;
}

.admin-title {
    font-size: 150%;
}

.no-padding {
    padding: 0;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mb30 {
    margin-bottom: 30px;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.cmd-action {
    width: 18.15%;
}

.action-hide {
    display: none;
}

.address {
    width: 30%;
}

.time {
    font-size: 15px;
}

@media (min-width: 1200px) {
    .container {
        width: 1250px !important;
    }
}

/* Header CSS */
.site-nav {
    padding-top: 10px;
}

.navbar-inverse {
    background-color: #96281B;
    border-color: #96281B;
}

.site-nav p a {
    display: block;
}

.site-nav p a img {
    margin-right: 5px;
}

.site-nav p a span {
    color: #fff;
    font-size: 200%;
    font-weight: bold;
}

.site-dropdown {
    max-width: 200px;
    width: 100%;
    margin: .5em 0 0;
    padding: 0;
}

.site-dropdown p {
    list-style: none;
}

.site-dropdown p a {
    display: block;
    color: #fff;
    font-size: 116%;
    text-align: right;
    opacity: .8;
}

.site-dropdown p:hover a {
    opacity: 1;
}

.dropdown-container {
    position: relative;
}

.dropdown-option {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background: #fff;
    -webkit-animation: fadeToTop .2s ease-in-out;
    -moz-animation: fadeToTop .2s ease-in-out;
    animation: fadeToTop .2s ease-in-out;
}

@keyframes fadeToTop {
    from {
        top: 15px;
        opacity: .5;
    } to {
        top: 0;
        opacity: 1;
    }
}

.dropdown-option li {
    list-style: none;
}

.dropdown-option li a {
    display: block;
    padding: 7px 8px;
    color: #909090;
    font-size: 116%;
}

.dropdown-option li a:hover {
    background: #f9f9f9;
}

/* Admin Tabs CSS */
.user-tabs li a,
.admin-tabs li a,
.add-tabs li a {
    color: #555;
    font-size: 116%;
}

.admin-tabs li a i,
.add-tabs li a i {
    position: relative;
    top: 2px;
}

/* Login CSS */
.system-title {
    font-size: 330%;
    color: #fff;
    padding: 25px 0;
    background: rgba(51, 122, 183, 0.2);
    font-weight: bold;
    text-align: center;
    max-width: 500px;
    margin: 3em auto;
    text-shadow: 2px 2px 5px #000;
}

.form-section {
    position: absolute;
    right: 55px;
    bottom: 60px;
    max-width: 360px;
    width: 90%;
    height: auto;
    padding: 35px 35px;
    border: 1px solid rgba(162, 162, 162, 0.79);
    border-radius: 3px;
    background: #fff;
}

.form-title {
    margin-bottom: 25px;
}

.form-input {
    margin-bottom: 15px;
}

.form-alert,
.noexist-alert,
.success-alert {
    display: none;
}

.company-logo {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.company-logo img {
    width: 100%;
    height: auto;
    display: block;
}

/* Admin CSS */
.form-changepass {
    margin-bottom: 0;
}

.supplier-message {
    resize: none;
    height: 150px !important;
}

.accounts-number {
    font-size: 60px;
}

.list-item-display li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 126%;
}

.bg-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.summary-modal .modal-dialog {
    max-width: 800px;
    width: 100%;
}

.label-critical-supplier {
    font-size: 14px;
    margin: 0 5px;
}

.receipt {
    max-width: 330px;
    width: 100%;
    height: auto;
    margin: 2em auto;
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 2px 4px 1px #797979;
}

.receipt-content .border {
    display: block;
    width: 100%;
    border-top: 1px dashed #6b6b6b;
    padding: 3px 0;
    border-bottom: 1px dashed #6b6b6b;
}

.receipt-date-or {
    padding: 5px;
}

.thank-you {
    margin-top: 25px;
}

/* Footer CSS */
.site-footer {
    width: 100%;
    height: auto;
}

.site-footer .container {
    background: #fff;
}

.site-footer p {
    padding: 10px 0;
    margin-bottom: 0;
    font-size: 92%;
    letter-spacing: .5px;
}

.receipt-footer {
    margin-top: 2em;
}

/* Print CSS */
@media print {
    .print-css {
        display: none !important;
    }
}

@page {
    margin: 0;
}

.btn-print-container {
    position: fixed;
    top: 10px;
    right: 10px;
}
